<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chit-Chat</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="heading">
    <h1><span>Real Time</span> - <span>Chat App</span> </h1>
  </div>
  <section class="chat-section">
    <div class="brand">
      <img height="40" src="chat.png" alt="">
      <h1>Chat</h1>
    </div>
    <div class="message-area">
      <!-- <div class="incoming message">
        <h4> Sender Name </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, perspiciatis.</p>
      </div>
      <div class="outgoing message">
        <h4>Reviever name</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, velit.</p>
      </div> -->
    </div>
    <div>
      <textarea id="text-area" cols="30" rows="1" placeholder="Write a message"></textarea>
    </div>
  </section>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client.js"></script>
</body>

</html>